<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key="FacebookAppId" value="541224679890219"/>
  <add key="FacebookAppSecret" value="75b6532f9a3f371e1aefebb17a6d4d28"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>